
body{background-color:#849d8f;}
/*----------фон для блока с преимуществамик------------*/
.advantages {background:url('../img/waffle-big.png') no-repeat;}
/*----------svg для преимуществ------------*/
.advantages > li:nth-child(1){list-style-image: url(../img/ice-cream.svg);}
.advantages > li:nth-child(2){list-style-image: url(../img/cow.svg);}
.advantages > li:nth-child(3){list-style-image: url(../img/eco.svg);}
.advantages > li:nth-child(4){list-style-image: url(../img/thermometer.svg);}
/*----------фон для блока статьи------------*/
.news{background: url('../img/background-strawberry.png') no-repeat;}
/*----------обвадка для e-mail рассылки------------*/
.distribution {background: url('../img/background-email-form.png') no-repeat;}
/*----------svg для социальных кнопок------------*/
.footer-social> ul > li:nth-child(1){list-style-image: url(../img/twitter.svg);}
.footer-social> ul > li:nth-child(2){list-style-image: url(../img/instagram.svg);}
.footer-social> ul > li:nth-child(3){list-style-image: url(../img/facebook.svg);}
.footer-social> ul > li:nth-child(4){list-style-image: url(../img/vkontakte.svg);}
/*----------svg для сердечка в футере------------*/
.footer-navigation > ul > li:nth-child(1){list-style-image: url(../img/heart.svg);}
	