@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic');

body {
	box-sizing: border-box;
	width: 1200px;
	background-color: #849d8f;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	margin: 0px auto;
}
svg{
	color:blue;
}
form {
	color: white;
}
ul{
	list-style: none;
}
.container{
	position: relative;
	width: 1146px;
	margin: 0px auto;
}
.container.bgc {
	position: relative;
	width: 1146px;
	margin: 0px auto;
	background-image: url('../img/background-slider-first.png');
	background-repeat: no-repeat;
	background-position: center 0;
}
.main-header{
	position: relative;
	/* height: 74px; */
	z-index: 2;
	font-size: 16px;
	padding-top: 6px;
	padding-left: 0px;
}
main{
	margin:0;
	padding: 0;
}
input[type="submit"]{
	border:none;
}
input:not[type="submit"],
textarea {
	border:2px solid #d3d3d2;
	border-radius: 5px;
	font-weight: bold;
}

::-webkit-input-placeholder {font-weight: normal;}
::-moz-placeholder {font-weight: normal;}
:-moz-placeholder {font-weight: normal;}
:-ms-input-placeholder {font-weight: normal;}

input:hover:not[type="submit"],
textarea:hover {
	border:none;
	border:2px solid #c7c6c5;
	border-color: #c7c6c5;
}
/*----- header -----*/
.main-navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top-left-nav{
	display: flex;
	justify-content: flex-start;
}
/*---- logotype -*/
a{
	text-decoration:none;
	color: white;
}
.current-page{
	color: black;
	border-radius: 25px;
	background-color: #d07058;
}
.block-logo{
	align-content: flex-start;
	margin:0;
	padding: 0;
}
.navigation-item {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	padding: 7px 14px 6px 14px;
	color: white;
}
.navigation-item:not(.current-page)::after {
	content:"";
	position: absolute;
	width: 80%;
	bottom: 6px;
	left:15px;
	border-bottom:1px solid grey;
	border-radius: 0px;
}
.navigation-item:hover:not(.current-page)::after {
	border:none;
}
.navigation-item::before{
	position: absolute;
	content:"";
	bottom:-20px;
	left: 1px;
	width: 100%;
	border-bottom:20px solid transparent;
}
.navigation-item:active,
.navigation-item:hover {
	border-radius: 25px;
	text-decoration: none;
	background-color: white;
	color: black;
}
.navigation-item:active {
	box-shadow: inset 0 2px 1px #696969;
}
.site-navigation {
	margin:0px;
	padding:0px;
	padding-left: 10px;
	padding-top: 23px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-decoration:none;
	font-weight: normal;
	position: relative;
}
.drop-down-menu .new-icecream{
	text-decoration:none;
	font-weight: bold;
	position: relative;
}

.new-icecream::after{
	position: absolute;
	content:"";
	display: inline-block;
	bottom:0;
	left: 6px;
	right:6px;
	width: 90%;
	border-bottom: 1px grey solid;
	}
.site-navigation li:not(.new-icecream){
	text-decoration:none;
	font-weight: normal;
}
.drop-down-menu {
	display: none;
	border-radius: 5px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: white;
	overflow: hidden;
}
.drop-down-menu li{
	color:black;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
	padding: 4px 21px 0px 19px;
	text-align: left;
}
.drop-down-menu li:not(.new-icecream):hover{
	background-color: #fbded7;
}
.drop-down-menu li:not(.new-icecream):focus {
	background-color: #fbded7;
}
.drop-down-menu li:not(.new-icecream):active{
	color:white;
	background-color: #f6b5a5;
}
.site-navigation li a:hover + ul {
	display: block;
	margin: 12px 0 0 -6px;
	position: absolute;
}
.drop-down-menu:hover {
	display: block;
	margin:12px 0 0 -6px;
	position: absolute;
}
.list-item{
	color:inherit;
}

/*---- head container---*/
.top-right-nav {
	position: relative;
	margin-top: 23px;
}
.contain-popup{
	display: inline;
	position: relative;
	margin:0;
	padding: 0;
}
.search-field {
	display: none;
	border-radius: 5px;
	width: 310px;
	padding: 15px 0px 15px 11px;
	margin: 18px 16px 20px 17px;
	border: 1px solid #696969;
	font-weight: bold;
}
.search{
	line-height: 16px;
	font-size: 14px;
	background-color: #aabcb2;
	background-image: url('../img/loupe.svg');
	background-repeat: no-repeat;
	background-position: 8px 7px;
	padding: 8px 25px 6px 8px;
	border-radius: 25px;
	}
.search:hover {
	background-position: 0px -1px;
	background-image: url('../img/loupe-hover.svg');
}
.search-field:hover {
	display: block;
}
.search + p {
	position: absolute;
	bottom: -97px;
	right: 0;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	margin:0;
}
.search:hover + p input {
	display: block;
	border: 1px #d3d3d2 solid;
}
/*----- ENTER -----*/
.enter{
	line-height: 16px;
	font-size: 14px;
	font-weight: 500;
}
.enter:hover + .enter-form{display: block;}
.enter{
	background-color: #aabcb2;
	background-image: url('../img/entrance.svg');
	background-repeat: no-repeat;
	background-position: 15px 5px;
	padding: 8px 17px 7px 43px;
	border-radius: 25px;
	margin-left: 10px;
	}
.enter:hover {
	color:black;
	background-color: white;
	background-image: url('../img/entrance-hover.svg');
}
.enter-form{
	display: none;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	right: 3px;
	background-color: white;
	width: 278px;
	height: 214px;
}
.login-form {
	display: flex;
	flex-direction:column;
	width:240px;
 	height:175px;
 	margin:20px auto;
	background-color: white;
}
.login-form input{
	border: 1px #d3d3d2 solid;
	width: 225px;
	margin-bottom: 20px;
	padding: 14px 0px 12px 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.footer-enter .style-button{
	border: none;
	margin:0px;
	margin-right: 20px;
	height: 40px;
	flex-basis: 100px;
	padding: 10px 28px 34px 30px;
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
}
.footer-enter{
	display: flex;
}
.footer-enter p{
	margin: 0;
	padding: 0;
}
.footer-enter a {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color:black;
	text-decoration:underline;
}
/*----- basket ----*/
.basket-form{
	display: none;
	border-radius: 5px;
	margin:0;
	padding: 0;
	position: absolute;
	top: 30px;
	right:0px;
	width: 540px;
	min-height: 242px;
	background-color: white;
}
.basket {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	font-weight: 500;
	color: black;
	font-weight: bold;
	line-height: 18px;
	width: 525px;
}
.count{
	background-color: white;
	color:black;
	background-image: url('../img/basket-red.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 16px;
	padding: 8px 17px 7px 43px;
	border-radius: 25px;
	margin-left: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	}
.count-empty{
	background-color: #aabcb2;
	color:white;
	background-image: url('../img/basket.svg');
}
.count:hover + .basket-form{
	display: block;
}
.basket div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.basket input{
	padding: 7px 13px 10px 9px;
}
.basket-ice-cream{
	width: 490px;
	position: relative;
	padding: 0;
	margin: 16px 15px 6px 0;
	padding: 0px 0 0 41px;
}
.selected-ice-cream{
	width: 216px;
	margin: 12px 31px 0px 14px;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.selected-ice-cream::before{
	cursor:pointer;
	position: absolute;
	content: "";
	top:16px;
	transform: rotate(45deg);
	left:16px;
	width: 12px;
	height: 2px;
	background-color: black;
}
.selected-ice-cream::after{
	cursor: pointer;
	position: absolute;
	content: "";
	top:16px;
	transform: rotate(135deg);
	left:16px;
	width: 12px;
	height: 2px;
	background-color: black;
}
.weight{
	margin-top: 2px;
	margin-right: 31px;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.price{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.summary-cost + input {
	align-self: flex-end;
}
.summary-cost{
	width: 529px;
	padding: 0;
	margin-top: 24px;
	text-align: right;
	position: relative;
}
.summary-cost::after{content:'';
	position: absolute;
	top:-18px;
	left: 18px;
	width: 488px;
	border-top: 1px solid #cacac7;
}
.slide{
	padding-top: 8px;
	position: relative;
	z-index: 0;
	text-align: right;
}
.slide a {
	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
	padding: 9px 40px 11px 40px;
	border-radius: 40px;
}
/*----- slider ----*/
.second-slide{
	display: none;
}.third-slide{
	display: none;
}
.slider p {
	vertical-align: top;
	padding: 10px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}
.slider p span {
	padding-right: 0px;
	display: block;
	vertical-align: top;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	margin-bottom: 3px;
}
.slider {
	height: 572px;
	position: relative;
	color: white;
}
.slider img{
	display:block;
	margin: 0px auto;
}
.slider div + p {
	position: absolute;
	text-align: right;
	top: 319px;
	left: 203px;
	width: 700px;
	font-size: 60px;
	font-weight: bold;
	line-height: 60.35px;
}
.slide p{
	right: 0;
	top:0;
	position: absolute;
	margin:0;
	padding: 0;
}
.slide p + a{
	position: absolute;
	/* padding:9px 0 11px 0; */
	top: 469px;
	left: 435px;
}
/*--- slider paginator----*/
.slider-paginator{
	margin:0;
	padding: 0;
	position: absolute;
	bottom: 64px;
	left:0px;
	display: flex;
	flex-direction: row;
}
.slider-paginator li{
	margin-right: 8px;
	width: 19px;
	height: 18px;
	border:1px white solid;
	border-radius:100%;
}
.slider-paginator li:hover,
.slider-paginator li:focus{
	cursor: pointer;
	background-color: #aabcb2;;
}.slider-paginator li:active{
	cursor: pointer;
	background-color: #ffffff;;
}
.slider-paginator li:nth-child(1){
	background-color: white;
}
.gift {
	position: relative;
	width:560px;
	height:235px;
	font-weight: bold;
	color:white;
}
.gift:nth-child(1) {
	background-image:url('../img/malinka.png');
	background-repeat: no-repeat;
}
.gift:nth-child(2) {
	background-image:url('../img/chocolate.png');
	background-repeat: no-repeat;
	margin-left: 25px;
}
.gift h2 {
	margin:0;
	padding: 18px 0 0 20px;
	line-height: 41px;
	font-weight: bold;
	font-size: 35px;
}
.gift p {
	margin: 0px 0 0 0;
	padding: 14px 0 0 21px;
	line-height: 22px;
	font-weight: bold;
	font-size: 18px;
	width: 520px;
}
.gift .style-button{
	position: absolute;
	bottom: 30px;
	right: 20px;
	padding: 10px 22px 11px 22px;
}
.hot{
	margin:0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	margin-top: 35px;
}
.hot a {
	font-weight: 500;
	font-size: 16px;
	padding-top: 9px;
	line-height: 22px;
}
.hot .style-button{
	padding: 12px 17px 12px 17px;
}
.hot a:not(.style-button):hover {
	color:#ffbc9e;
}
.hot li:not(:first-child){
margin-left: 26px;
}
.hot li {
	text-align: center;
	vertical-align: middle;
	width: 267px;
	height: 320px;
	position: relative;
}
.hot li img{
	width: 100%;
}
.hot li p {
	position: absolute;
	top: 209px;
	padding: 0px;
	margin: 0px;
}
.hot li .style-button {
	position: absolute;
	top: 330px;
	left: 34px;
	font-size: 18px;
	font-weight: bold;
	display: none;
	line-height: 24px;
}
.hot li:hover > .style-button{
	display: inline;
}
.hot li:hover {
	z-index: 1;
}
.hot li:hover::before{
	content:'';
	position: absolute;
	top: -7px;
	left: -12px;
	height: 405px;
	width: 292px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: -1;
	border-radius: 5px;
}
.hot li span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	background-image: url('../img/hit.svg');
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}
.catalog-item{
 	padding: 0;
 	margin:0;
	flex-direction: flex-start;
	display: flex;
	 flex-wrap: wrap;
}
.catalog-item a:not(.style-button):hover{color:#ffbc9e;}
.catalog-item a{
	margin-top: 8px;
	font-weight: 500px;
	font-size: 16px;
	line-height: 22px;
	width: 260;
}
.catalog-item li:not(:nth-child(4n+1)){
margin-left: 26px;
}
.catalog-item li{
	margin-top: 18px;
	text-align: center;
	width: 267px;
	height: 320px;
	position: relative;
	padding-bottom: 24px;
	z-index: 2;
}
.catalog-item li:hover ~ li {
	z-index: 1;
}
.catalog-item li p {
	position: absolute;
	top: 209px;
	left: -2px;
	padding: 0px;
	margin: 0px;
}
.catalog-item .style-button{
	position: absolute;
	top: 330px;
	left: 34px;
	font-size: 18px;
	font-weight: bold;
	display: none;
	line-height: 24px;
	padding: 12px 17px 12px 17px;
}
.catalog-item li:hover::before{
	content:'';
	position: absolute;
	top: -7px;
	left: -12px;
	height: 405px;
	width: 292px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: -1;
	border-radius: 5px;
}
.catalog-item li:hover > .style-button{
	display: inline;
}
.catalog-list-iceceram{
	margin:5px 0 60px 0;
}.cost {
	color:white;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}
.cost small{
	padding-left: 4px;
	font-size: 33px;
}
.link-ice-cream {
	display: inline-block;
	box-sizing: border-box;
	width: 257px;
	font-weight: 500;
	line-height: 22px;
	text-decoration: underline;}
.advantages {
	margin-top: 41px;
	padding-bottom: 7px;
	border-radius: 10px;
	background: url('../img/waffle-big.png') no-repeat;
}
.advantages-header {
 	margin: 0px;
 	padding: 25px 25px 21px 21px;
 	line-height: 30px;
 	font-size: 24px;
 	font-weight: 500;
}
 .advantages-item {
 	margin:0px;
 	padding-right: 22px;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
}
 .advantages-item li:nth-child(odd){
	padding-right: 48px;
}
.advantages-item li{
 	position: relative;
 	width: 481px;
 	padding: 0;
 	padding-bottom: 21px;
 	margin: 0;
 	margin-left: 37px;
 	line-height: 22px;
 	font-size: 16px;
 	font-weight: normal;
}
.advantages-item > li:nth-child(1)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	left:-60px;
	top:-13px;
	background-image: url(../img/ice-cream.svg);
	background-repeat: no-repeat;
}
.advantages-item > li:nth-child(2)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	left:-60px;
	top:-13px;
	background-image: url(../img/cow.svg);
	background-repeat: no-repeat;
}
.advantages-item > li:nth-child(3)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	left:-60px;
	top:-13px;
	background-image: url(../img/eco.svg);
	background-repeat: no-repeat;
}
.advantages-item > li:nth-child(4)::before {
	content:"";
	position: absolute;
	width: 50px;
	height: 50px;
	left:-60px;
	top:-13px;
	background-image: url(../img/thermometer.svg);
	background-repeat: no-repeat;
}
.news {
	margin-right: 26px;
	width: 560px;
	height: 225px;
	background: url('../img/background-strawberry.png') no-repeat;
}
.news h2 {
	margin: 0;
	margin-bottom: 4px;
	padding:23px 0 0 20px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 500;
}
.news p {
	padding-left: 20px;
	width: 290px;
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin: 0;
}
.distribution{
	width: 560px;
	height: 220px;
}
.distribution p {
	padding: 29px 20px 0 24px;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #5a5a5a;
}
.distribution {
	border-radius: 15px;
	background:  repeating-linear-gradient( 135deg, white 0px, white 6.5px, #92cdff 6.5px, #92cdff 13px, white 13px, white 19.5px,#fe9e90  19.5px, #fe9e90  26px);
}
.white-bgc{
	margin:5px;
	height: 210px;
	width: 550px;
	border-radius: 10px;
	background: #ffffff;
}
.white-bgc p{
	margin: 0;
}
.distribution-form .style-button{
	padding: 9px 13px 11px 14px;
}
.email{
	border: 1px solid rgba(178, 178, 178, 0.52);
	margin: 38px 10px 0 22px;
	width: 349px;
	padding: 6px 0px 9px 14px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	font-weight: bold;
}
/*------ map block -----*/
.map {
	margin:34px 0 0 -27px;
	position: relative;
}
.map p {
	line-height: 20px;
	font-size: 14px;
	margin: 0px;
	font-weight: normal;
	margin-top: 22px;
}
.map p span{
	text-decoration: none;
	margin:0 0 1px 1px;
	display: inline-block;
	line-height: 24px;
	font-size: 18px;
	font-weight: bold;
	width: 400px;
}
.info {
	position: absolute;
	top: 63px;
	right: 0px;
	border-radius: 20px;
	height: 305px;
	width: 303px;
	background-color: white;
}
.info div{
	display: flex;
	align-items: left;
	flex-direction: column;
	margin: 6px 30px 30px 26px;
}
.link-callback{
	margin-top: 25px;
	padding: 10px 3px 12px 8px;
	box-sizing: border-box;
	width: 250px;
} 
.footer-social ul{
	position: relative;
	margin:0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}
.footer-social ul li{
	margin:16px 10px 0 0;
	width: 40px;
}
.footer-social ul li a{
	opacity: 0.8;
}
.footer-social ul li a:hover{
	opacity: 1;
}
/*----------navig---*/
.footer-navigation{
	margin: 0;
	width: 344px;
	padding: 0px;
}
footer {
	min-height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-list a:hover {
	color:#ffbc9e;
}
.footer-list {
	margin: 0 auto;
	padding: 0px;
	margin-left: 17px;
	padding-top: 6px;
	display: flex;
	flex-wrap: wrap;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}
.footer-list li {width: 170px;margin-top: 4px;margin-right: -27px;}
.bld-number {
	padding: 0;
	line-height: 24px;
	font-size: 22px;
	font-weight: bold;
}
.footer-list li:nth-child(1) {
	font-weight: bold;
	list-style-image: url(../img/heart.svg);
}
/*------------ html logo footer -------*/
.logo-html-academy p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: white;
}
.logo-html-academy p:hover{
	color:#ffbc9e;
}
/*--- nav catalog ----*/
.navigation {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	color: white;
	line-height: 16px;
	font-size: 14px;
	font-weight: normal;
	align-items: flex-end;
	margin-bottom: 1px;
}
.navigation p {
	margin:0;
	text-align: right;
}
.navigation ul {
	padding: 0;
	margin:0;
	display: flex;
	justify-content: flex-start;
	color: white;
	line-height: 16px;
	font-size: 14px;
	font-weight: normal;
}
.navigation a:hover{
	color:#ffbc9e;
}
.navigation ul li{
	margin-left: 22px;
	position: relative;
}
.navigation ul li:first-child{
	margin-left:0;
}
.navigation ul li:not(:last-child){
	border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}
.navigation ul li:not(:last-child)::after{
	content: "»";
	right:-15px;
	position: absolute;
}
.contacts{
}
.work-hours{
	padding-right: 3px;
	display: block;
	margin-bottom: 2px;
}
.gen-header{
	margin:0px;
	line-height: 41px;
	color: white;
	font-size: 35px;
}
/*----- form styles ----*/
.catalog-form{
	padding: 0;
	margin:0;
	border:none;
}
.filter {
	margin-top: 28px;
	width: 860px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	line-height: 16px;
	font-size: 14px;
	font-weight: 500;
}
.form-item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding-bottom: 17px;
	margin-top: 21px;
}
.header-form{
	position: absolute;
	top: -16px;
	left: 16px;
	display: block;
	font-size:14px;
	line-height:6px;
	font-weight: 500;
}
/*----form select-----*/
.filter select{
	padding: 8px 0px 8px 17px;
	margin:0px;
	line-height: 18px;
	font-weight: 500;
	font-size: 16px;
	width: 194px;
	appearance: none;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: url('../img/select-svg-white.svg'),#aabcb2;
	background-position: 166px 14px;
	background-repeat:  no-repeat;
}
.filter select:hover,
.filter select:focus {
	background-color: white;
	color: black;
	outline: none;
	background: url('../img/select-black.svg'),#aabcb2;
	background-position: 166px 14px;
	background-repeat:  no-repeat;
}
.filter select option {
	padding: 15px;
}
.filter fieldset {
	padding: 15px;
	border: 0px black solid;
	border-radius: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #aabcb2;
}
.label-select{
	
margin-left: 11px;
}
.filter .button-form {
	margin-top: 4px;
	box-sizing: border-box;
	background-color: #a6b7ae;
	border-radius: 20px;
	border: 2px solid #ffffff;
	color: white;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding: 7px 27px 7px 29px;
}
.button-form:hover{
	background-color: #fff;
	color:black;
}
.button-form:active{
	background-color: #ededed;
	border:none;
	box-shadow: inset 0 2px 1px #696969;
}
.sort{
	padding: 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	border-radius: 25px;
	background-color: #aabcb2;
	color:white;
}
/*------ form range -----*/
.range{
	width: 218px;
	height: 36px;
	margin:0 9px 0 11px;
	background-color: #a6b7ae;
	position: relative;
	border-radius: 25px;
	z-index: 1;
}
.range::before{
	content:"";
	width: 175px;
	height: 5px;
	margin:16px auto;
	background-color: #d1dad3;
	position: absolute;
	left:22px;
}
.range-line{
	width: 100px;
	height: 5px;
	left: 45px;
	margin-top:16px;
	background-color: #f8f7f4;
	position: relative;
	z-index: 2;
	
}
.range-line::before{
	content:"";
	width: 4px;
	height: 4px;
	border:8px solid #ffffff;
	background-color: #ababab;
	border-radius: 100%;
	position: absolute;
	left: -11px;
	top: -8px;
}
.range-line::after{
	content:"";
	width: 4px;
	height: 4px;
	border:8px solid #ffffff;
	background-color: #ababab;
	border-radius: 100%;
	position: absolute;
	right: -8px;
	top: -8px;
}
fieldset .fat-percent{
	width: 415px;
	padding: 9px 0px 9px 0px;
	margin:0px;
}
.fat-percent input {
	margin:0;
	padding: 0;
	position: relative;
	z-index: -1;
}
.fat-percent label {
	position: relative;
	margin-left: 29px;
}
.fat-percent label::after {
	display: none;
	content:'';
	position: absolute;
	width: 8px;
	height: 8px;
	left: -23px;
	top:6px;
	background-color: white;
	border-radius: 50%;
	opacity: 0.8;
}
.fat-percent label:hover::after{
	opacity: 1;
}
.fat-percent input + label::before {
	content: "";
	position: absolute;
	left: -30px;
	top:-1px;
	background-color: transparent;
	width: 14px;
	height: 14px;
	border:4px white solid;
	border-radius: 50%;
	opacity: 0.8;
}
.fat-percent label[disabled]::after {
	opacity: 0.4;
}
.fat-percent input + label[disabled]::before {
	opacity: 0.4;
}
.fat-percent input + label:hover::before{
	opacity: 1;
} 
.fat-percent input:checked +label::after {
	display: block;
}
fieldset.additives{
	box-sizing: border-box;
	padding: 8px 0px 8px 0px;
	width: 702px;
}
.additives label {
	margin-left: 38px;
	position: relative;
}
.additives label::before {
	content:'';
	position: absolute;
	width: 24px;
	height: 20px;
	left: -33px;
	background: url('../img/checkbox-off.svg'),#aabcb2;
	opacity: 0.8;
	background-repeat: no-repeat;
}
.additives label:hover::before{
	background: url('../img/checkbox-off.svg'),#aabcb2; 
	opacity: 1;
	background-repeat: no-repeat;

}
.additives input {
	position: relative;
	/* left: 0px; */
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	opacity: 0;
	width: 0px;
}
.additives input:checked + label::before {
	opacity: 0.8;
	background: url('../img/checkbox-on.svg'),#aabcb2;
	background-repeat: no-repeat;
}
.additives input:checked + label:hover::before {
	background-repeat: no-repeat;
	opacity: 1;
}
.additives input:focus::before {
	content: '';
	position: absolute;
	top: -4px;
	left: -6px;
	border: 1px solid red;
	width: 20px;
	height: 20px;
}
/*------- paginator catalog -------*/
.paginator{
	border-bottom: 1px solid grey;
	display: flex;
	justify-content: flex-end;
	margin:0px;
	padding-bottom: 31px;
}
.paginator-item {
	padding:3px 8px 3px 8px;
	border-radius:100%;
	cursor:pointer;
}
.paginator-item:not(:last-child){
	margin-right: 3px;
	}
.paginator-item[disabled]{
	opacity: 0.2;
	cursor:	default;
}
.paginator-item[disabled] > *{
	cursor:	inherit;
}
.paginator-item:hover:not(.paginator-current):not([disabled])  {
	background-color: #aabcb2;;
}
.paginator-tem:active:not(.paginator-current):not([disabled]) {
	background-color:white;
}
.paginator-current {
	background-color: white;
	color:black;
	cursor:	default;
}
.paginator-current a{
	color: inherit;
	cursor:	default;
}
.paginator a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
}
.style-button {
	background:linear-gradient(#f16743 0%, #e74b36 100%);
	border-radius: 30px;
	color: white;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 2px 2px #ac1000;
}
.style-button:hover {
	background: linear-gradient(#f58669,#ed705e);
	box-shadow: 0 2px 2px #ac1000;
}
.style-button:active {
	background: linear-gradient(#d74632,#e1603e);
	box-shadow: 0 2px 2px #ac1000;
}
/*----- flex-block ----*/
.gift-block{
	display: flex;
}
.flex-block {
	display: flex;
	margin-top: 38px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*----- popup ----*/
.location {
	display: none;
	position: fixed;
	top: 337px;
	left: 554px;
	min-height: 443px;
	background-color: white;
	width: 479px;
	z-index: 1000;
	border-radius: 10px;
}
.location div{
	margin: 0px 30px 0px 25px;
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
}
.location div > *{
	margin-bottom: 18px;
}
.location .style-button{
	margin-left: 291px;
	padding: 10px 0px 10px 0px;
}
.location input:not([type="submit"]) {
	text-align: left;
	padding-left: 16px;
	width: 250px;
	height: 38px;
	font-size: 16px;
    line-height: 24px;
	font-weight: bold;
}
.location span {
	color: black;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}
 .location textarea {
 	width: 400px;
 	height: 140px;
 	padding: 20px 0 0 16px;
    resize: none;
    line-height: 24px;
	font-size: 16px;
	font-weight: bold;
   }
   .close-button{ 
   	display: inline;
   	margin:0px;
   	font-size: 0px;
   	line-height: 0px;
   	padding:0px;
   	border:0px;
   }
   .location .close-button::before{
   	position: absolute;
   	top:17px;
   	right: 17px;
   	content:"";
   	cursor: pointer;
   	width: 20px;
   	height: 20px;
   	background-repeat: no-repeat;
   	background-image: url('../img/x-big.svg');
   	margin:0;
   	padding: 0;
   }  